<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example App</title>

<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/styles.css"/>
<link rel="stylesheet" href="/lib/jqueryui/jquery-ui.min.css"/>
<link rel="stylesheet" href="/lib/jqueryui/jquery-ui.structure.min.css"/>
<link rel="stylesheet" href="/lib/jqueryui/jquery-ui.theme.min.css"/>

</head>
<body>

{{{body}}}

</body>

<script language="javascript" src="/lib/jquery/jquery-min.js"></script>
<script language="javascript" src="/lib/popper/popper-min.js"></script>
<script language="javascript" src="/lib/jqueryui/jquery-ui2.js"></script>
<script language="javascript" src="/js/index.js"></script>
</html>